<launch>

  <arg name="gateway_name" default="" />

  <include file="$(find segbot_rapps)/rapps/simulated_segbot_nav.launch">
    <arg name="gateway_name" value="$(arg gateway_name)" />
  </include>

  <!-- stroller -->
  <node name="segbot_stroll" pkg="segbot_gazebo_concert" type="segbot_stroll" />

</launch>
