<launch>

  <!-- Launch the person -->
  <group ns="person">
    <include file="$(find bwi_guidance_solver)/launch/robot/person_detector.launch" />
  </group>

  <!-- Launch the base robot navigator -->
  <node name="base_robot_navigator" pkg="bwi_guidance_solver" type="base_robot_navigator">
    <param name="map_file" value="$(find utexas_gdc)/maps/simulation/2/2.yaml" />
    <param name="graph_file" value="$(find bwi_guidance_solver)/maps/graph_2.yaml" />
    <param name="tasks_file" value="$(find bwi_guidance_solver)/config/robot/atrium_task_list.yaml" />
  </node>

</launch>
