name: Turtle Pond
description: Turtles on the pond.
author: Yujin Robot
launcher_type: roslaunch
launcher: gazebo_segbot_concert/segbot_pond
interactions: gazebo_segbot_concert/segbot_pond
parameters: gazebo_segbot_concert/segbot_pond
