<launch>

  <!-- launch an empty environment -->
  <param name="/use_sim_time" value="true" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- launch the gazebo robot spawner -->
  <node pkg="concert_service_gazebo" type="gazebo_segbot_manager" 
    name="gazebo_segbot_manager"/>

</launch>
