<launch>

  <!-- launch an empty environment -->
  <param name="/use_sim_time" value="true" />
  <include file="$(find bwi_guidance)/launch/map3_gazebo.launch" />

  <!-- Launch the person with their very own map server -->
  <group ns="person">
    <arg name="personid" default="person" />
    <include file="$(find bwi_gazebo_entities)/launch/controllable_person.launch">
      <arg name="world" value="/services/bwi_guidance_server_service/gazebo" />
      <arg name="x" value="1.2" />
      <arg name="y" value="1.2" />
      <arg name="personid" default="$(arg personid)" />
    </include>
  </group>

  <group ns="ball">
    <arg name="ballid" default="ball" />
    <include file="$(find bwi_gazebo_entities)/launch/ball.launch">
      <arg name="world" value="/services/bwi_guidance_server_service/gazebo" />
      <arg name="x" value="600" />
      <arg name="y" value="600" />
      <arg name="ballid" default="$(arg ballid)" />
    </include>
  </group>

  <!-- launch the gazebo robot spawner -->
  <node pkg="bwi_guidance_concert" type="gazebo" name="segbot_gazebo_manager"/>

</launch>
