<launch>

  <param name="/use_sim_time" value="true" />

  <include file="$(find rocon_hub)/launch/hub.launch">
    <arg name="hub_name" value="Gazebo Concert" />
  </include>
  <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"/>
  <node name="gateway" type="gateway.py" pkg="rocon_gateway" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

</launch>
