name: Segbot Pond
description: Launches the segbot_stroll application for segbots in the environment.
author: Piyush Khandelwal
launcher_type: roslaunch
launcher: segbot_demo_concert/segbot_pond
interactions: segbot_demo_concert/segbot_pond
parameters: segbot_demo_concert/segbot_pond
