name: MultiRobotPasser
description: Allows 2 robots to navigate around one another.
author: Piyush Khandelwal
launcher_type: roslaunch
launcher: segbot_concert_services/multi_robot_passer.launch
interactions: segbot_concert_services/multi_robot_passer.interactions
parameters: segbot_concert_services/multi_robot_passer.parameters
